 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
 }
 body { 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(circle, rgba(0,0,0,0.028124999999999956) 0%, rgba(253,187,45,1) 100%);
  font-family: Arial, sans-serif;
  /* text-align: center; */
  padding: 0;
  margin:0;
  align-items: center;
}
#todo-container {
  background: rgb(41, 33, 33);
  width: 400px;
  max-width: 95%;
  /* margin: 0 auto; */
  border: 2px solid #0033ff;
  padding: 20px;
  color: white;
  border-radius: 15px;
}
#header {
  margin-bottom: 20px;
  font-size: 20px;
  /* text-align: center; */
}

h1 {
  margin-bottom: 20px; 
  color: chocolate;
}

#input-box {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* margin-right: 5px; */
  font-size: 16px;
}

#input-button {
  font-size: 16px;
  cursor: pointer;
  transition: 0.4s;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #2e60ea;
  color: wheat;
}

#input-button:hover {
  background-color: #9eb7fd; 
}

.todo-app h1 img{
  width: 60px;
  /* margin-left: 10px; */
}
h4{
      margin-top: 14px;
    text-decoration: underline;
    color: aqua;
}


 ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  text-align:left;

}

li {
border: 1px solid white;
border-radius: 5px;
margin-bottom: 10px;
padding: 10px;
position: relative;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
/* margin-top: 10px; */
}

.edit-btn, .delete-btn {
  /* float: right; */
  color:crimson;
  cursor: pointer;
  margin-left: 10px;
  border: none;
  /* padding: 3px 5px; */
  background: none;
  font-size: 18px;
} 

.completed {
  text-decoration: line-through;
  color: gray;
  border: 1px solid gray;
}
span.delete{
  color: red;
  margin-left: 10px;
}
span.edit{
  color: lightblue;
  margin-left: 10px;
}


 /*  Responsive Design */
@media (max-width: 600px) {
     #todo-container {
        width: 95%;
        padding: 2%;
        margin: 10% 10%;
        text-align: center;
        /* margin-left: 5%; */
    }
  #input-box {
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    box-sizing: border-box;
  }

  #input-button {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
  }
  ul{
    padding-left: 0;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    word-wrap: break-word;
  }
  li input[type="checkbox"] {
    margin-bottom: 5px;
  }

  .edit-btn,
  .delete-btn,
  span.edit,
  span.delete {
    float: none;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 18px;
  }

  .clear-link {
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
  }
  }






